<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>User Script Data</title>
<style>
button {
	display: none;
}

form {
	display: none;
}

.unauthorized button {
	display: inline;
}

.authorized form {
	display: block;
}
</style>
	</head>
	<body onload="init()">
		<button>Authorize</button>
		<form>
			<table>
				<tr>
					<th scope="row"><label for="datetime">Date/Time</label></th>
					<td><input name="datetime" type="datetime-local" /></td>
				</tr>
				<tr>
					<th scope="row"><label for="title">Title</label></th>
					<td><input name="title" type="text" /></td>
				</tr>
				<tr>
					<th scope="row"><label for="url">URL</label></th>
					<td><input name="url" type="url" /></td>
				</tr>
			</table>
			<p>
				<input type="submit" value="Add" />
			</p>
		</form>
		<table>
			<thead>
				<tr>
					<th scope="col">Delete</th>
					<th scope="col">Done</th>
					<th scope="col">Date/Time</th>
					<th scope="col">Video</th>
				</tr>
			</thead>
			<tbody id="list"></tbody>
		</table>
	</body>
<script id="itemTemplate" type="text/x-template">
<tr>
	<td><a href="#" class="delete">X</a></td>
	<td><input type="checkbox" value="1" <% if ( done ) { print( 'checked' ); } %> /></td>
	<td><time datetime="<%- datetime %>"><%- formatDate( datetime ) %></time></td>
	<td><a target="_blank" href="<%- url %>"><%- title %></a></td>
</tr>
</script>
<script>
function formatDate( datetime ) {
	var ms = Date.parse( datetime );
	var date, hours;
	if ( isNaN( ms ) ) {
		return '';
	}

	date = new Date( ms );
	hours = date.getUTCHours();

	return date.getUTCFullYear().toString() + '/' +
		( date.getUTCMonth() + 1 ).toString() + '/' +
		date.getUTCDate().toString() + ' ' +
		( hours % 12 ).toString() + ':' +
		date.getUTCMinutes().toString() + ' ' +
		( hours < 12 ? 'AM' : 'PM' );
}

function init() {
	var CLIENT_ID = '637341514595-35kntouhupplbqms2hs9cg2dr9413vi7.apps.googleusercontent.com';
	var SCOPES = [
		'https://www.googleapis.com/auth/drive.file',
	];

	var itemTemplate = _.template( document.getElementById( 'itemTemplate' ).textContent );
	var $itemHolder = jQuery( '#list' );

	document.querySelector( 'button' ).addEventListener( 'click', function( event ) {
		event.preventDefault();

		console.log( 'starting auth' );
		gapi.auth.authorize( {
			'client_id': CLIENT_ID,
			'scope': SCOPES,
			'immediate': false
		}, function( result ) {
			if ( result && ! result.error ) {
				console.log( 'auth done' );
				ready();
			}
		} );
	}, false );

	document.querySelector( 'form' ).addEventListener( 'submit', function( event ) {
		event.preventDefault();
	}, false );

	function authorize() {
		console.log( 'checking auth' );

		gapi.auth.authorize( {
			'client_id': '637341514595-35kntouhupplbqms2hs9cg2dr9413vi7.apps.googleusercontent.com',
			'scope': [
				'https://www.googleapis.com/auth/drive.file',
			],
			'immediate': true
		}, function( result ) {
			if ( ! result || result.error ) {
				console.log( 'need auth' );
				document.body.className = 'unauthorized';
				return;
			}

			console.log( 'auth already' );
			ready();
		} );
	}

	gapi.load( "auth:client,drive-realtime,drive-share", function() {
		gapi.client.load( 'drive', 'v2', function() {
			console.log( 'loaded' );
			authorize();
		} );
	} );

	function ready() {
		var request = gapi.client.drive.files.list( {
			'q': "properties has { key='userscript' and value='1' and visibility='PRIVATE' }"
		} );

		document.body.className = 'authorized';

		console.log( 'searching for file' );
		request.execute( function( results ) {
			if ( ! results || ! results.items.length ) {
				console.log( 'file not found' );
				return create();
			}

			console.log( 'file found' );
			use( results.items[0].id );
		} );
	}

	function create() {
		var request = gapi.client.drive.files.insert( {
			'resource': {
				mimeType: 'application/vnd.google-apps.drive-sdk',
				title: 'User Script Data',
				properties: [
					{
						'key': 'userscript',
						'value': '1',
						'visibility': 'PRIVATE',
					}
				]
			}
		} );

		console.log( 'creating file' );
		request.execute( function( result ) {
			console.log( 'file created' );
			use( result.id );
		} );
	}

	function use( fileId ) {
		console.log( 'using file' );
		gapi.drive.realtime.load( fileId, onFileLoaded, initializeFile, onError );
	}

	function initializeFile( model ) {
		model.getRoot().set( 'list', model.createList() );
	}

	function onFileLoaded( file ) {
		console.log( 'file loaded' );
		var model = file.getModel();
		var list = model.getRoot().get( 'list' );

		displayItems( list.asArray() );

		list.addEventListener( gapi.drive.realtime.EventType.VALUES_ADDED, itemsAdded );

		list.addEventListener( gapi.drive.realtime.EventType.VALUES_REMOVED, itemsRemoved );

		list.addEventListener( gapi.drive.realtime.EventType.VALUES_SET, itemSet );

		document.querySelector( 'form' ).addEventListener( 'submit', function( event ) {
			console.log( 'hi' );
			newItem( event.target.datetime.value, event.target.title.value, event.target.url.value );
		}, false );

		function newItem( datetime, title, url ) {
			console.log( 'adding item' );
			list.push( {
				done: false,
				datetime: datetime,
				title: title,
				url: url,
			} );
		}
	}

	function displayItems( items ) {
		console.log( items );

		$itemHolder.empty();

		items.forEach( function( item ) {
			$itemHolder.append( itemTemplate( item ) );
		} );
	}

	function itemsAdded( event ) {
		console.log( 'values added' );
		console.log( event );

		displayItems( event.target.asArray() );
	}

	function itemsRemoved( event ) {
		console.log( 'values removed' );
		console.log( event );

		displayItems( event.target.asArray() );
	};

	function itemSet( event ) {
		console.log( 'values set' );
		console.log( event );

		displayItems( event.target.asArray() );
	};

	function onError( error ) {
		switch ( error.type ) {
		case gapi.drive.realtime.ErrorType.TOKEN_REFRESH_REQUIRED :
			authorize();
			break;
		case gapi.drive.realtime.ErrorType.CLIENT_ERROR :
			console.error( error );
			break;
		case gapi.drive.realtime.ErrorType.NOT_FOUND :
			console.error( error );
			break;
		}
	}
}
</script>
<script src="underscore-1.8.3.min.js"></script>
<script src="jquery-2.1.4.min.js"></script>
<script src="https://apis.google.com/js/api.js"></script>
</html>
